.btn {
  font-weight: 700;
  font-size: 18px;
  background-color: #09098f;
  color: #fff;
  line-height: normal;
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #333395;
  }

  &_white{
    background-color: #fff;
    color: #3e3e3e;

    &:hover{
      background-color:#e3e3e3;
    }
  }
}