include ~components/header/header
include ~components/cards/cards
include ~components/footer/footer

+header
main.content
	.container
		section
			h2 Пример работы
			button.btn.btn_white.js-feedback Форма обратной связи
		+cards
+footer